<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-6 left">
        <img src="mark.svg" />
      </div>

      <div class="col-6 right">
        <a href="javascript:void(0)" data-cb-type="portal" >↳ Manage account</a>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <h1 class="title">Put your prospecting and outreach on autopilot.</h1>
        <p>Prospecting clients on your own are time-consuming and often leads to disappointing results.</p>
        <p>Lead Hound ensures that you receive quality leads every month — enabling you to build and grow your business.</p>

        <a class="button" href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="light-plan,-monthly" >Hire a sales team — $395 / month</a>
        <small>Interested to hear more before making a commitment? <a href="">Find out more here.</a></small>
      </div>


      <div class="col-6">
        <img src="" class="quote-img" />
        <blockquote>“It’s a no-brainer for any business! You receive warm leads directly to your inbox.”</blockquote>
        <cite>- Alan Yau | Founder of Hakkasan and Yauatcha.</cite>
      </div>

    </div>
  </div>

  <div class="col-12 center feature_block">
    <div class="container">
      <div class="row">
        <div class="col-10 left">
          <h1>Lead generating treadmill</h1>
          <p>We engage in highly personalized email conversations with your ideal customers and once they respond with interest,
            you simply pick up the conversation with them and work on closing the deal.</p>
          <hr/>
        </div>
      </div>



  </div>
</div>-->

</body>
</html>
